/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/build/coverage/*
/app/build/logs/*
/app/config/parameters.specific.yml
/app/config/parameters.private.yml
/build/
/backups
/stage
/vendor/
/bin/
/docs/doxygen/html
/composer.phar
/components
/design
/.c9
.DS_Store
*.iml
/.idea/*
/*.sql
.directory

web/bundles/
web/dist/
web/css/*.css
web/js/*
web/uploads/
web/media/
web/zeroclipboard/
web/bootstrap/
web/mysql/
storage/
Gemfile.lock
.php_cs.cache
